@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

@font-face {
    font-family: 'Fira Sans Normal';
    src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Bold';
    src: url('../fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


// brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$midnight-blue: #2f3542;

// Update Bulma's global variables
$family-sans-serif: "Fira Sans", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables


$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";



//custom css
html{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
}
body{
    height: 100%;
    width: 100vw;
    font-family: 'Fira Sans Normal', sans-serif !important;
}

h1{
    font-family: 'Fira Sans Bold', sans-serif !important;
}

::-webkit-scrollbar {
    display: none;
}

.side-menu>div>span{
    width:100%;
}

.container-fluid{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

// .columns{
//     height: 100%;
// }

.top-menu{
    height: 70vh;
}

.top-menu>span{
    height: 50px;
    cursor: pointer;
}

.bottom-menu{
margin-top: auto;
}

.heading,.title{
    color: white;
}

.news-posts{
    height: 80vh;
    overflow-x: hidden; 
    overflow-y: auto;
}